<h2 class="content-block">ESPÉCIE DE PAGAMENTO</h2>

<dx-data-grid
  class="dx-card wide-card"
  [searchPanel]="{ visible: true }"
  (onSelectionChanged)="selectedChanged($event)"
  id="grid"
  [dataSource]="dataSource"
  [showBorders]="false"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)"
  [selection]="{ mode: 'single' }"
>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager [visible]="true" [showPageSizeSelector]="true"> </dxo-pager>
  <dxo-editing mode="popup">
    <dxi-item dataField="descricao">
      <dxi-validation-rule
        type="required"
        message="Descrição é obrigatória"
      ></dxi-validation-rule>
      <dxo-label text="Descrição"></dxo-label>
    </dxi-item>
  </dxo-editing>
  <dxi-column dataField="descricao" caption="Descrição"></dxi-column>
</dx-data-grid>

<dx-speed-dial-action
  icon="add"
  label="Adicionar Especie de Pagamento"
  [index]="1"
  (onClick)="addMethod()"
>
</dx-speed-dial-action>

<dx-speed-dial-action
  icon="edit"
  label="Editar Especie de Pagamento"
  [index]="2"
  [visible]="selectedRowIndex !== -1"
  (onClick)="editMethod()"
>
</dx-speed-dial-action>

<dx-speed-dial-action
  icon="trash"
  label="Excluir Especie de Pagamento"
  [index]="3"
  [visible]="selectedRowIndex !== -1"
  (onClick)="deleteMethod()"
>
</dx-speed-dial-action>
