@import "../../../../themes/generated/variables.base.scss";

.reset-password-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  .logo {
    width: 300px;
    height: auto;
}
  ::ng-deep .submit-button {
    margin-top: 10px;
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }
}
