<h2 class="content-block">LISTA DE ATUALIZAÇÕES</h2>
<dx-data-grid
  id="updatesGrid"
  [dataSource]="updates"
  [showBorders]="true"
  [searchPanel]="{ visible: true }"
>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager [visible]="true" [showPageSizeSelector]="true"> </dxo-pager>
  <dxi-column dataField="title" caption="Título" dataType="string"></dxi-column>
  <dxi-column
    dataField="description"
    caption="Descrição"
    dataType="string"
  ></dxi-column>
  <dxi-column
    dataField="date"
    caption="Data"
    dataType="date"
    format="dd/MM/yyyy"
  ></dxi-column>
</dx-data-grid>
